<h1 align="center">Reset Your Password</h1>
<div>
    <form  [formGroup]="signinForm">
<mat-form-field class="example-full-width" appearance="outline">
    <mat-label class="font">Enter Your MobileNumber</mat-label>
    <input matInput formControlName="Phone" maxlength="10" minlength="10" required>
</mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label class="font">Enter OTP</mat-label>
   <input matInput formControlName="otp" required>
   </mat-form-field>
<mat-form-field class="example-full-width" appearance="outline">
    <mat-label type="password" class="font">Enter New Password</mat-label>
    <input matInput formControlName="newpasscode" required>
</mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field class="example-full-width" appearance="outline">
  <mat-label class="font">Conform Password</mat-label>
   <input type="password" matInput  formControlName="confirmpasscode" required>
   </mat-form-field>
<p class="user">{{user}}</p>
</form>
<button align="center" (click)="reset()" class="button button4">Reset Password</button>
<button class="button button5" (click)="cancle()">cancel</button>

</div>
